
body {
    background-color: #f7f8fc;
    background-image: url(./images/pexels-codioful-\(formerly-gradienta\)-7130560.jpg);
}

* {
    /* font-family: 'Noto Sans JP' !important; */
    font-family: 'Heebo', sans-serif !important;
}